<section class="titlebar titlebar--dark titlebar--sideimage titlebar--thin">
		<div class="container">
			<div class="row">
				<div class="col-sm-4">
					<div background class="titlebar-sideimage"><img src="<?php echo $home_url;?>/design/themes/boreal/assets/dist/images/content/boreal-coffee.png"></div>
				</div>
				<div class="col-sm-8">
					<h2 class="titlebar-subtitle" data-message="text.home.container.beforeFooter.letsGo">Hãy cùng chúng tôi trải nghiệm và thưởng thức</h2><a href="http://www.vietruss.com/shop/" class="titlebar-title" data-message="text.home.container.beforeFooter.description">Hương vị hạt cà phê thơm ngon, đậm đà, hấp dẫn</a></div>
			</div>
		</div>
	</section>
<footer class="footer">
		<div class="container">
			<div class="row footer-blocks">
				<div class="col-lg-2 hidden-md hidden-sm hidden-xs footer-block mh-footerCols"><a href="javascript:void(0)"><img src="<?php echo $home_url?>/images/logo/cubao.png" class="logo logo--footer" alt="logo"></a></div>
				<div class="col-lg-3 col-md-4 hidden-sm hidden-xs footer-block mh-footerCols">
					<a href="javascript:void(0)"><img src="<?php echo $home_url?>/images/logo/vietruss.png" class="logo logo--footer--2" alt="logo"></a>
					<br>
					<br>
					<a href="javascript:void(0)"><img src="<?php echo $home_url?>/images/logo/russ.png" class="logo logo--footer--2" alt="logo"></a>
				</div>
				<div class="col-md-3 col-sm-6 hidden-xs footer-block mh-footerCols">
					<div class="footer-block-title" data-message="text.footer.support">Hỗ Trợ</div>
					<nav class="footer-submenu clearfix">
						<ul>
							<li><a href="javascript:void(0)" data-message="text.menu.about">Giới thiệu</a></li>
							<li><a href="javascript:void(0)" data-message="text.menu.cafe">Cà phê</a></li>
							<li><a href="javascript:void(0)" data-message="text.menu.cafe.qualityPolicy">Chính sách</a></li>
						</ul>
						<ul>
							<li><a href="javascript:void(0)" data-message="text.menu.agency">Đại lý</a></li>
							<li><a href="javascript:void(0)" data-message="text.menu.recruitment">Tuyển dụng</a></li>
							<li><a href="javascript:void(0)" data-message="text.menu.contact">Liên hệ</a></li>
						</ul>
					</nav>
				</div>
				<div class="col-lg-4 col-md-5 col-sm-6 footer-block is-last mh-footerCols">
					<div class="row footer-selectors">
						<div class="col-xs-12 footer-selector clearfix">
							<div class="footer-block-title u-inline" data-message="text.footer.language">Ngôn ngữ</div>
							<div class="select select--transparent select--inline">
								<select id="switchLanguage" onchange="switchLanguage(this);">
									<option value="vi">VI</option>
									<option value="en">EN</option>
									<option value="ru">RU</option>
								</select>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<div class="footer-social">
								<div class="footer-block-title u-inline" data-message="text.footer.flow">Theo dõi:</div>
								<nav>
									<ul>
										<li>
											<a href="javascript:void(0)">
												<i class="fa fa-facebook" aria-hidden="true"></i>
											</a>
											<a href="javascript:void(0)">
												<i class="fa fa-twitter" aria-hidden="true"></i>
											</a>
											<a href="javascript:void(0)">
												<i class="fa fa-instagram" aria-hidden="true"></i>
											</a>
											<a href="javascript:void(0)">
												<i class="fa fa-youtube" aria-hidden="true"></i>
											</a>
										</li>
									</ul>
								</nav>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row footer-bottom">
				<div class="col-sm-6">
					<div class="footer-copyright">
						<copyright>Copyright &copy;<time> 2017 - 2018 </time> Vietruss Coffee. All rights reserved.</copyright>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="ty-payment-icons"><span class="ty-payment-icons__item visa">&nbsp;</span><span class="ty-payment-icons__item mastercard">&nbsp;</span><span class="ty-payment-icons__item postfinance">&nbsp;</span><span class="ty-payment-icons__item paypal">&nbsp;</span></div>
				</div>
			</div>
		</div>
	</footer>
	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" data-no-defer></script>
	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js" data-no-defer></script>
	<script type="text/javascript" src="<?php echo $home_url?>/var/cache/misc/assets/js/tygh/scripts-2ab6aa0cccf4a02c7505feda1cdfc2431475497499.js?ver=4.3.3"></script>
	<script type="text/javascript" src="<?php echo $home_url?>/design/themes/boreal/assets/dist/scripts/vendor.js"></script>
	<script type="text/javascript" src="<?php echo $home_url?>/design/themes/boreal/assets/dist/scripts/application.common.js"></script>
	<script type="text/javascript" src="<?php echo $home_url?>/design/themes/boreal/assets/dist/scripts/application.home.js"></script>
	<script type="text/javascript" src="<?php echo $home_url?>/design/themes/boreal/assets/dist/scripts/application.product.js"></script>
    <script type="text/javascript" src="<?php echo $home_url?>/js/lib/language.js"></script>
	<script type="text/javascript" src="<?php echo $home_url?>/js/main.js"></script>