<?php 
	$home_url = "http://10.10.10.171/cubaocoffee"; 
?>
<meta name="description" content="VietSam - Better Coffee, better health" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="shortcut icon" href="<?php echo $home_url?>/design/themes/boreal/assets/dist/images/favicons/favicon.png" type="image/x-icon">
<link rel="apple-touch-icon-precomposed" href="<?php echo $home_url?>/design/themes/boreal/assets/dist/images/favicons/128x128.png" sizes="152x152">
<meta name="msapplication-TileColor" content="#FFFFFF">
<meta name="msapplication-TileImage" content="<?php echo $home_url?>/design/themes/boreal/assets/dist/images/favicons/128x128.png">
<link rel="stylesheet" href="<?php echo $home_url?>/plugins/font-awesome/css/font-awesome.min.css">
<link type="text/css" rel="stylesheet" href="<?php echo $home_url?>/var/cache/misc/assets/design/themes/boreal/css/standalone.b996096ee73bb6b6a85f01e2ee2e20df1475497499.css" />
<link rel="stylesheet" href="<?php echo $home_url?>/design/themes/boreal/assets/dist/css/main.css">