<section class="topbar">
	<div class="container">
		<div class="topbar-nav clearfix">
			<div class="col-md-2">
				<div class="logo">
					<h1>Vietruss Cafe</h1><a href="<?php echo $home_url; ?>"></a></div>
			</div>
			<div class="col-md-10 mainmenu-container">
				<div class="mainmenu-group">
					<ul class="mainmenu">
						<li class="menu-item has-child"><a href="javascript:void(0)" data-message="text.menu.about">Giới Thiệu</a>
							<ul class="mainmenu-sub">
								<li class="menu-item has-child"><a href="<?php echo $home_url; ?>/introduces/coffee-trees" data-message="text.menu.about.cafeTree">Cây Cà Phê Việt Nam</a></li>
								<li class="menu-item has-child"><a href="<?php echo $home_url; ?>/introduces/company" data-message="text.menu.about.company">Công Ty</a></li>
								<li class="menu-item has-child"><a href="<?php echo $home_url; ?>/introduces/mission-vision" data-message="text.menu.about.missionVision">Sứ Mạng & Tầm Nhìn</a></li>
								<li class="menu-item has-child"><a href="<?php echo $home_url; ?>/introduces/value-benefit" data-message="text.menu.about.benefits">Công Dụng & Lợi Ích</a></li>
								
							</ul>
						</li>
						<li class="menu-item has-child"><a href="javascript:void(0)" data-message="text.menu.cafe">VietSam Coffee</a>
							<ul class="mainmenu-sub" >
								<li class="menu-item has-child"><a href="<?php echo $home_url; ?>/cafe/products" data-message="text.menu.cafe.product">Sản Phẩm</a></li>
								<li class="menu-item has-child"><a href="<?php echo $home_url; ?>/cafe/formulation" data-message="text.menu.cafe.formulation">Công Thức Pha Chế</a></li>
							</ul>
						</li>
						<li class="menu-item"><a href="<?php echo $home_url; ?>/policies" data-message="text.menu.cafe.qualityPolicy">Chính Sách Chất Lượng</a></li>
						<li class="menu-item"><a href="<?php echo $home_url; ?>/agency" data-message="text.menu.agency">Đại Lý</a></li>
						<li class="menu-item"><a href="<?php echo $home_url; ?>/recruitment" data-message="text.menu.recruitment">Tuyển Dụng</a></li>
						<li class="menu-item"><a href="<?php echo $home_url; ?>/contact" data-message="text.menu.contact">Liên Hệ</a></li>
					</ul>
				</div>
				<div class="mainmenu-group">
						<ul class="mainmenu">
							<li> <a href="javascript:void(0)"><i class="fa fa-globe" aria-hidden="true"></i></a>
								<ul class="mainmenu-sub mainmenu-sub--notoppad mainmenu-sub--social">
									<li> <a href="javascript:void(0)" onclick="switchLanguageHeader('vi');">VI<span class="visible-xs-inline-block visible-sm-inline-block" style="color: white"></span></a></li>
									<li> <a href="javascript:void(0)" onclick="switchLanguageHeader('en');">EN<span class="visible-xs-inline-block visible-sm-inline-block" style="color: white"></span></a></li>
									<li> <a href="javascript:void(0)" onclick="switchLanguageHeader('ru');">RU<span class="visible-xs-inline-block visible-sm-inline-block" style="color: white"></span></a></li>
								</ul>
							</li>
						</ul>
					</div>
			</div>
		</div>
	</div>
</section>